@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-primary: #769FCD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.parent-container {
  height: calc(100vh - 100px);
}
#nav {
  background-color: #fff;
}

@media screen and (max-width: 450px) {
  .hero-link {
    width: 65%;
  }
}
@media screen and (min-width: 510px) {
  .hero-link {
    width: auto;
  }
}
